<li>
  <h3><%= link_to article.title, article %></h3>
  <% if member_signed_in? && current_member.admin? %>
    <%= link_to "delete", article_path(article), :method => :delete, :confirm => "You sure?" %>
  <% end %>
</li>